---
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input";
---

<Layout title="IP Address Tracker">
  <main
    class="bg-mobile-pattern bg-cover bg-center bg-no-repeat flex flex-col items-center justify-center h-screen w-full p-6 gap-8">
    <h1>
      <span class="text-white text-2xl font-bold">IP Address Tracker</span>
    </h1>
    <Input client:load />
  </main>
</Layout>
