---
import Layout from "../layouts/Layout.astro";
import App from "../components/App";
---

<Layout title="IP Address Tracker">
  <div id="react-root">
    <noscript>
      <p>Please enable JavaScript to use this application.</p>
    </noscript>
    <App client:only="react" />
  </div>
</Layout>
